################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/back/.vs/ProjectEvaluation/web-api.metadata.v7.bin
/back/.vs/ProjectEvaluation/web-api.projects.v7.bin
/back/.vs/web-api/DesignTimeBuild/.dtbcache.v2
/back/.vs/web-api/v17/.futdcache.v2
/back/src/Application/Domain/obj
/back/src/Application/Services/obj
/back/src/Configuration/TwoFactorAuthenticator.CrossCutting/obj
/back/src/Application/Application/bin/Debug/net6.0/TwoFactorAuthenticator.Application.deps.json
/back/src/Application/Application/bin/Debug/net6.0/TwoFactorAuthenticator.Application.dll
/back/src/Application/Application/bin/Debug/net6.0/TwoFactorAuthenticator.Application.pdb
/back/src/Application/Application/obj/Debug/net6.0/ref/TwoFactorAuthenticator.Application.dll
/back/src/Application/Application/obj/Debug/net6.0/refint/TwoFactorAuthenticator.Application.dll
/back/src/Application/Application/obj/Debug/net6.0/TwoFactorAuthenticator.Application.assets.cache
/back/src/Application/Application/obj/Debug/net6.0/TwoFactorAuthenticator.Application.csproj.AssemblyReference.cache
/back/src/Application/Application/obj/Debug/net6.0/TwoFactorAuthenticator.Application.csproj.CoreCompileInputs.cache
/back/src/Application/Application/obj/Debug/net6.0/TwoFactorAuthenticator.Application.dll
/back/src/Application/Application/obj/Debug/net6.0/TwoFactorAuthenticator.Application.pdb
/back/src/Application/Application/obj/project.assets.json
/back/src/Application/Application/obj/project.nuget.cache
/back/src/Application/Application/obj/TwoFactorAuthenticator.Application.csproj.nuget.dgspec.json
/back/src/Configuration/CrossCutting/bin/Debug/net6.0/TwoFactorAuthenticator.Application.dll
/back/src/Configuration/CrossCutting/bin/Debug/net6.0/TwoFactorAuthenticator.Application.pdb
/back/src/Configuration/CrossCutting/bin/Debug/net6.0/TwoFactorAuthenticator.CrossCutting.deps.json
/back/src/Configuration/CrossCutting/bin/Debug/net6.0/TwoFactorAuthenticator.CrossCutting.dll
/back/src/Configuration/CrossCutting/bin/Debug/net6.0/TwoFactorAuthenticator.CrossCutting.pdb
/back/src/Configuration/CrossCutting/obj/Debug/net6.0/TwoFactorAuthenticator.CrossCutting.assets.cache
/back/src/Configuration/CrossCutting/obj/Debug/net6.0/TwoFactorAuthenticator.CrossCutting.csproj.AssemblyReference.cache
/back/src/Configuration/CrossCutting/obj/Debug/net6.0/TwoFactorAuthenticator.CrossCutting.csproj.CoreCompileInputs.cache
/back/src/Configuration/CrossCutting/obj/Debug/net6.0/TwoFactorAuthenticator.CrossCutting.dll
/back/src/Configuration/CrossCutting/obj/Debug/net6.0/TwoFactorAuthenticator.CrossCutting.pdb
/back/src/Configuration/CrossCutting/obj/project.assets.json
/back/src/Configuration/CrossCutting/obj/project.nuget.cache
/back/src/Configuration/CrossCutting/obj/TwoFactorAuthenticator.CrossCutting.csproj.nuget.dgspec.json
